# 맵 설정
map_server:
  ros__parameters:
    use_sim_time: False
    # 아래 경로는 실제 맵 파일 생성 후 업데이트 필요
    yaml_filename: "/home/user/jupiter_ws_ros2/src/sllidar_ros2/maps/map.yaml"
    topic_name: "map"
    frame_id: "map"

map_saver:
  ros__parameters:
    use_sim_time: False
    save_map_timeout: 5.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
